input {
    padding: 3px;
    background-color: lightgray;
}

.errors {
    color: red;
    margin: 0;
    padding: 0;
}

#sign-up-button {
    width: 100%;
    height: 50px;
    background-color: lightgrey;
    border: 2px solid grey;
    box-shadow: 2px 2px grey;
    padding: 0;
    margin: 0;
}

.signup-form,
.signup-holder {
    display: flex;
    flex-direction: column;
}

.signup-holder {
    width: 400px;
    gap: 20px;
    align-self: center;
    align-items: center;
    padding: 20px 0;
}

.signup-form {
    width: 90%;
    gap: 15px;
}

.signup-holder>h1 {
    margin: 0;
    padding: 0;
}

#modal-content {
    border: 1px solid grey;
    border-radius: 15px;
    padding: 0;
    margin: 0;
}
