#groups-body {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 55%;
}

#groups-links-container {
    display: flex;
    margin: 40px 0 25px 0;
    padding: 0;
    align-self: start;
    align-items: start;
    gap: 20px;
}

#groups-body>h3 {
    align-self: start;
    margin: 0;
    padding: 0 0 20px 0;
    border-bottom: 2px solid grey;
    width: 100%;
}

#groupspage-events-link {
    margin: 0;
    padding: 0;
    color: grey;
    font-size: xx-large;
}

#groupspage-events-link:hover {
    cursor: pointer;
    text-decoration-line: underline;
}

#groupspage-groups-link {
    margin: 0;
    padding: 0;
    font-size: xx-large;
    color: teal;
    text-decoration-line: underline;
}

.group-details-container {
    display: flex;
    width: 100%;
    border-bottom: 2px solid grey;
    gap: 20px;
}

.group-details-container:hover {
    cursor: pointer;
}

.group-details-image {
    height: 150px;
}

.group-details-h4 {
    margin: 0;
    padding: 0;
    font-size: x-large;
}

.group-details-h5 {
    margin: 0;
    padding: 0;
    font-size: large;
}

.group-details-h6 {
    margin: 0;
    padding: 0;
    font-size: medium;
}

.group-details-span {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    height: min-content;
}

.group-details-p {
    margin: 0;
    padding: 0;
}

.details-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#centered-dot {
    position: relative;
    bottom: 25%;
}
