#group-details-wrapper {
    align-self: center;
    padding-top: 80px;
    box-sizing: border-box;
    width: 100%;
    gap: 10px;
}

#group-breadcrumb-link {
    color: teal;
    text-decoration-line: underline;
}

#group-breadcrumb-link:hover {
    cursor: pointer;
}

#group-breadcrumb-span {
    padding-left: 15%;
    flex-direction: row;
}

#group-details-header {
    flex-direction: row;
    align-self: center;
    padding: 0 0 30px 15%;
    height: 55vh;
    width: 100%;
    gap: 40px;
    box-sizing: border-box;
}

#group-details-header-image {
    height: 100%;
    border-radius: 5px;
    border: 3px solid lightgray;
    box-shadow: 3px 3px 3px 3px gray;
}

#group-details-header-wrapper {
    justify-content: space-between;
    width: 30%;
}

#group-details-header-info {
    gap: 20px;
}

#group-details-header-info>span {
    flex-direction: row;
    gap: 15px;
    justify-content: start;
}

#join-group-button {
    background-color: red;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    color: white;
    font-size: larger;
    width: 50%;
}

#group-details-body {
    gap: 20px;
    padding: 30px 15% 20px 15%;
    box-sizing: border-box;
    background-color: lightgray;
}

.group-details-event-top {
    flex-direction: row;
    gap: 20px;
}

.group-details-event-bottom {
    padding: 20px;
}

.group-details-event-img {
    margin: 20px 0 0 20px;
    min-height: 150px;
    max-height: 100%;
    min-width: 200px;
    max-width: 400px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 3px solid lightgray;
    box-shadow: 3px 3px 3px 3px gray;
}

.group-details-event-header {
    margin: 20px 0 0 0;
    box-sizing: border-box;
    gap: 10px;
}

.group-details-event-span {
    gap: 15px;
}

#upcoming-events-wrapper,
#past-events-wrapper {
    gap: 25px;
    padding-bottom: 50px;
}

.group-page-event-containers {
    background-color: white;
    width: 47%;
    box-sizing: border-box;
    border: 1px solid grey;
    box-shadow: 3px 3px 3px 3px gray;
    border-radius: 15px;
    z-index: 2;
}

.group-page-event-containers:hover {
    cursor: pointer;
}

#group-details-action-buttons-wrapper {
    width: 60%;
    height: 30px;
    gap: 15px;
}

.group-details-action-buttons {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    background-color: grey;
    color: white;
}
