#group-details-wrapper {
    align-self: center;
    margin: 0;
    padding: 0;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}

.group-details-header-p {
    margin: 0;
    padding: 0;

}

#group-details-header {
    display: flex;
    align-self: center;
    margin: 0;
    padding: 0;
    height: 55vh;
    width: 100%;
    gap: 40px;
}

#group-details-header-image {
    margin: 0;
    padding: 0;
    height: 100%;
    border-radius: 5px;
    border: 3px solid lightgray;
    box-shadow: 3px 3px 3px 3px gray;
}

#group-details-header-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

#group-details-header-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;
    padding: 0;
}

#group-details-h1 {
    margin: 0;
    padding: 0;
}

#group-details-header-info>span {
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

#group-details-p {
    margin: 0;
    padding: 0;
}

#join-group-button {
    background-color: red;
    border: 3px solid black;
    box-shadow: 3px 3px black;
    color: white;
    font-size: larger;
}
