/* TODO: Add sitewide styles */
* {
    font-family: 'Patrick Hand';
    font-size: medium;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 55px;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

#root {
    display: flex;
    flex-direction: column;
}

.centered-dot {
    box-sizing: border-box;
    position: relative;
    bottom: 25%;
}

#root>div:nth-child(3) {
    background-color: lightgrey;
}
