* {
    /* border: 1px solid red; */
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flexbox;
    padding: 10px;
}

input {
    padding: 3px;
    background-color: lightgray;
}

.errors {
    color: red;
}

button {
    padding: 0;
    margin: 10px;
}

form,
section {
    display: flex;
    flex-direction: column;
}

.login-holder {
    width: fit-content;
    align-self: center;
    border: 2px solid black;
    border-radius: 4px;
    background-color: rgba(59, 55, 55, 0.329);
}

#root {
    display: flex;
}
