#event-details-page-header {
    padding: 40px 15vw 30px 15vw;
    box-sizing: border-box;
    gap: 10px;
}

.event-detail-page-span {
    flex-direction: row;
}

#event-details-page-h1 {
    margin: 0;
}

#event-details-event-breadcrumb {
    color: teal;
}

#event-details-event-breadcrumb:hover {
    cursor: pointer;
}

#event-details-hosted {
    color: gray;
}

#event-details-page-main {
    padding: 30px 15vw 40px 15vw;
    background-color: lightgray;
    box-sizing: border-box;
    gap: 30px;
}

#event-details-main-header {
    flex-direction: row;
    height: 47vh;
    gap: 2vw;
}

#event-details-main-img {
    max-width: 40vw;
    max-height: 47vh;
    border: 2px solid gray;
    border-radius: 5px;
    box-shadow: 3px 3px gray;
}

#event-details-main-header-right {
    height: 47vh;
    justify-content: space-between;
}

#event-details-main-group-container {
    flex-direction: row;
    height: fit-content;
    align-items: center;
    width: 27vw;
    background-color: white;
    border-radius: 15px;
    gap: 25px;
    padding: 25px;
    box-sizing: border-box;
    border: 2px solid grey;
    box-shadow: 3px 3px grey;
}

#event-details-main-group-container:hover {
    cursor: pointer;
}

#event-details-group-image {
    max-height: 100px;
}

#event-details-main-group-info {
    gap: 20px;
}

#event-details-main-info-container {
    height: 29vh;
    width: 27vw;
    min-width: fit-content;
    background-color: white;
    border-radius: 15px;
    justify-content: space-around;
    padding: 25px 40px 25px 40px;
    box-sizing: border-box;
    border: 2px solid grey;
    box-shadow: 3px 3px grey;
}

#event-details-main-body {
    gap: 20px;
}

#event-details-clock-holder {
    width: fit-content;
    height: fit-content;
}

#event-details-date-container {
    flex-direction: row;
    gap: 24px;
}

.event-details-date-span {
    flex-direction: row;
    gap: 10px;
}

.event-detail-dates-p {
    color: grey;
    font-weight: bold;
}

.event-detail-dates {
    color: teal;
}

.event-detail-label {
    width: 40px;
}

#event-details-price-container {
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

#event-detail-price {
    color: grey;
    font-size: large;
    font-weight: bold;
}

#event-details-type-container {
    flex-direction: row;
    gap: 30px;
    align-items: center;
}

#event-details-type {
    font-size: large;
    font-weight: bold;
    color: grey;
}

#event-details-type-modify-delete-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#event-details-action-buttons-container {
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.event-details-action-buttons {
    width: 70px;
    padding: 3px;
    color: white;
    background-color: grey;
    border: 2px solid black;
    box-shadow: 2px 2px black;
}
